#slider-fps {
    width: 250px;
    float: left;
}

#slider-fps-value {
    float: right;
}

#common-controls {
    overflow: hidden;
    width: 270px;
}

.icon-single-color {
    display: none;
}

.icon-custom-color {
    display: none;
}

